<div class="container-fluid h-100 animated fast fadeIn">
  <div class="row h-50 justify-content-center align-content-start my-5">
    <div class="col-11 col-md-10">
      <div class="row justify-content-end">
        <div class="col-auto d-flex align-items-baseline">
          <div class="d-flex gap-3">
            <div class="input-group input-group-sm mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Buscar Cliente"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm"
              />
              <button class="btn btn-secondary fs-6 fw-medium">
                <i class="text-white fa-solid fa-magnifying-glass-plus"></i>
              </button>
            </div>
            <div>
              <button class="btn btn-secondary btn-sm">
                <i class="text-white fa-solid fa-arrow-rotate-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-10 bg-white shadow">
      <div class="row h-100 gap-3 p-3">
        <div
          class="col-12 d-flex flex-column gap-2 flex-md-row align-items-baseline justify-content-between"
        >
          <div>
            <h4 class="pt-3">Lista de Clientes</h4>
          </div>
        </div>
        <div class="col-12 h-75 overflow-y-auto">
          <table class="table table-responsive">
            <thead class="">
              <tr>
                <th scope="col">Perfil</th>
                <th scope="col">Nombre</th>
                <th scope="col">DNI</th>
                <th scope="col">Email</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr class="">
                <th scope="row">
                  <img
                    src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=880&q=80"
                    class="card-img-top img-thumbnail img"
                    alt="..."
                  />
                </th>
                <td>Mark</td>
                <td>123123213</td>
                <td>example@gmail.com</td>
                <td>
                  <a href="" class="btn btn-danger">
                    <i class="text-white fa-solid fa-trash fs-5"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
