<div class="container-fluid h-100">
  <div class="row justify-content-center h-100 gap-5">
    <div class="col-12 d-flex justify-content-end align-items-center">
      <a routerLink="/dashboard/login" class="btn btn-danger">
        <i class="fa-solid fa-arrow-left"></i>
      </a>
    </div>
    <div class="col-12 align-self-end text-center">
      <h1 class="">Cambio de Contraseña</h1>
    </div>
    <div class="align-self-start col-11 col-md-8 col-lg-5 col-xl-4 col-xxl-3">
      <div class="row gap-2 p-3 shadow bg-white">
        <div class="col-12 text-center">
          <i class="fa-solid fa-lock display-1"></i>
          <p class="text-secondary my-3">
            Ingrese su email y pulse enviar. Luego espere un mail con un link y
            acceda a el para restablecer tu contraseña.
          </p>
        </div>
        <div class="col-12">
          <form class="d-flex flex-column gap-3">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >Email</label
              >
              <input
                type="email"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="name@example.com"
              />
            </div>
            <div class="d-grid gap-2">
              <button class="btn btn-primary" type="button">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
