<div
  class="container-fluid h-100 d-flex flex-column gap-4 animated fast fadeIn"
>
  <div class="row gap-3 px-5 pt-5 justify-content-center">
    <div class="col-12 col-md-3 bg-white shadow text-center p-3">
      <p class="fw-medium">Total Ventas</p>
      <i class="fa-solid fa-handshake display-4"></i>
      <p class="fs-3 fw-bold">3221</p>
    </div>
    <div class="col-12 col-md-3 bg-white shadow text-center p-3">
      <p class="fw-medium">Nuevas Ordenes</p>
      <i class="fa-solid fa-cart-plus display-4"></i>
      <p class="fs-3 fw-bold">32</p>
    </div>
    <div class="col-12 col-md-3 bg-white shadow text-center p-3">
      <p class="fw-medium">Total Clientes</p>
      <i class="fa-solid fa-users display-4"></i>
      <p class="fw-bold my-1 fs-3">3221</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-9 bg-white shadow text-center p-3">
      <p class="fw-medium">Ventas Mensuales</p>
      <i class="fa-solid fa-chart-simple display-1"></i>
    </div>
  </div>
</div>
