<div class="container-fluid h-100">
  <div class="row justify-content-center h-100 gap-5">
    <div class="col-12 d-flex justify-content-end align-items-center">
      <a routerLink="/dashboard/login" class="btn btn-danger">
        <i class="fa-solid fa-arrow-left"></i>
      </a>
    </div>
    <div class="align-self-start col-11 col-md-8 col-lg-5 col-xl-4 col-xxl-3">
      <div class="row gap-2 p-3 bg-white shadow">
        <div class="col-12 text-center">
          <i class="fa-solid fa-user-plus display-1"></i>
        </div>
        <div class="col-12">
          <form class="d-flex flex-column gap-3">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >Email</label
              >
              <input
                type="email"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="@Email"
              />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >Nombre</label
              >
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Nombre"
              />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >Apellido</label
              >
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Apellido"
              />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >DNI</label
              >
              <input
                type="number"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="DNI"
              />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >Password</label
              >
              <input
                type="password"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Password"
              />
            </div>
            <div class="d-grid gap-2">
              <button class="btn btn-primary" type="button">Registrarse</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
